# Config for the transformation service

# Spark cache directory. Will require a lot of space while the pipeline is running!
SPARK_DATASTORE=

# TCP port where the spark frontend will listen. Contains useful info about pipeline progress and used resources. 
SPARK_FRONTEND_PORT=4040

# Host where cassandra can be reached
CASSANDRA_HOST=cassandra

# Cassandra keyspaces:

# keyspace with raw block data populated by parser and exporter (blocksci)
RAW_KEYSPACE=btc_raw

# keyspace to put transformed data to
TGT_KEYSPACE=btc_transformed

# keyspace containing tag information
TAG_KEYSPACE=tagpacks
